workflow/n8n-automation-workflow-lab.json
{
  "name": "n8n Automation Workflow Lab",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automation-lab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -96
      ],
      "id": "1b4af128-4f62-41c1-bc58-3b7e6690a881",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst name = String(body.name || \"\").trim();\nconst email = String(body.email || \"\").trim();\nconst subject = String(body.subject || \"\").trim();\nconst message = String(body.message || \"\").trim();\nconst type = String(body.type || \"general\").trim();\n\nconst errors = [];\n\nif (!name) {\n  errors.push(\"Name is required\");\n}\n\nif (!email) {\n  errors.push(\"Email is required\");\n}\n\nif (email && !email.includes(\"@\")) {\n  errors.push(\"Email format is invalid\");\n}\n\nif (!subject) {\n  errors.push(\"Subject is required\");\n}\n\nif (!message) {\n  errors.push(\"Message is required\");\n}\n\nreturn [\n  {\n    json: {\n      id: `REQ-${Date.now()}`,\n      name,\n      email,\n      subject,\n      message,\n      type,\n      status: errors.length === 0 ? \"valid\" : \"invalid\",\n      isValid: errors.length === 0,\n      errors,\n      createdAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -96
      ],
      "id": "8b75c842-0c04-4985-b134-a145da9cf3a8",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8224112a-68d6-4ef7-bb5b-68b7b9451dd8",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "895e78bf-928e-46b2-8277-b27c4b57dce2",
      "name": "Check Valid Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    success: false,\n    message: \"Validation failed\",\n    errors: $json.errors\n  }\n}}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        0
      ],
      "id": "8c3c9901-c22a-4201-9c2b-62eb213eb746",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "n8n Automation Lab Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "createdAt": "={{ $json.createdAt }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "subject": "={{ $json.subject }}",
            "message": "={{ $json.message }}",
            "type": "={{ $json.type }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -192
      ],
      "id": "f3b16c48-6fc5-479d-bd2e-b5e247ca05dc",
      "name": "Save to Google Sheets"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Data saved successfully\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -192
      ],
      "id": "50da43b6-8440-4ca0-bfbd-c85ea084ba1b",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"New form data received\\nID: {{ $('Validate Input').item.json.id }}\\nName: {{ $('Validate Input').item.json.name }}\\nEmail: {{ $('Validate Input').item.json.email }}\\nSubject: {{ $('Validate Input').item.json.subject }}\\nMessage: {{ $('Validate Input').item.json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -192
      ],
      "id": "fcd1f10e-2c05-4683-a0f4-f5f0fd7d11e5",
      "name": "Send Discord Notification"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Discord Notification": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "tags": []
}